<div class="container w-75 chat  my-4">
  <h1>Chats</h1>

  <%= simple_form_for [ @chatroom, @message ] do |f| %>
    <%= f.input :content, label: false, placeholder: "Write Your Message#{@chatroom.name}" %>
  <%= f.submit "Go!", class: " btn-success chat-button" %>
  <% end %>

  <h2><%= @chatroom.name %></h2>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.first_name %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>
