 <div class="container">
    <h1 class="my-4">Your dashboard</h1>
    <div class="mx-auto">
      <h2> <%= "Welcome #{current_user.charity.name}" %> </h2>
      <%#= link_to 'accept booking', accept_booking_path(booking: booking), class: "btn btn-primary %>
      <h1>Missions</h1>

      <div class="mx-auto">
        <h2>My Posted Missions</h2>
        <% @current_user.charity.missions.each do |mission| %>
          <div>
            <ul>
              <li><%= link_to "#{mission.title}", mission_path(mission) %></li>
              <li><%= mission.start_date.strftime('%d/%m/%Y') %></li>
              <li><%= link_to "Edit Mission", edit_mission_path(mission),  class: "btn btn-primary" %></li>
            </ul>
          </div>
        <% end %>
      </div>

      <div>
        <h2>My Pending Mission Requests</h2>
        <% @pending_charity_applications.each do |booking| %>
        <div>
          <ul>
           <li><%= booking.mission.title %></li>
           <li><%= booking.mission.start_date.strftime('%d/%m/%Y') %></li>
           <%= link_to 'accept booking', accept_booking_path(booking: booking), class: "btn btn-primary" %>
          </ul>
        </div>
        <% end %>
      </div>

      <!-- <div class="mx-auto">
        <h2>My Completed missions</h2>
      </div> -->

  </div>
