<%= <h3>'Welcome''#{user.first_name}'</h3> %>
<%= <h3> '#{user.email}'%>

<%= if  @missions_people_applied == (1..5) %>
<%= <image_tag(".png")> %>
<%= elsif @missions_people_applied == (5..10) %>
<%= <image_tag(".png")> %>
<%= elsif @missions_people_applied == (10..20) %>
<%= <image_tag(".png")> %>
<%= elsif @missions_people_applied == (20..30) %>
<%= <image_tag(".png")> %>
<%= else @missions_people_applied == (0) %>
<%= end %>
