<%=link_to mission_path(mission) do %>
  <div class="index-card-container">
    <div class="index-card-image">
      <% if mission.photos.attached? %>
        <%= cl_image_tag mission.photos.first.key %>
      <% else %>
        <%= image_tag "carousel-1.jpg" %>
      <% end %>
    </div>
      <div class="index-card-text">
        <div class="index-card-main-info">
            <div>
              <h3><%="#{mission.title}"%></h3>
            </div>
            <div>
              <p><%="with: #{mission.charity.name.capitalize}"%></p>
            </div>
            <div>
              <p><%="on: #{mission.start_date.strftime('%d/%m/%Y')}"%></p>
            </div>
            <div class="index-icon">
              <%= render "shared/icon_count", mission: mission %>
            </div>
            <div class="mx-2 index-apply-button">
            <% if current_user.charity.blank? && !mission.users.include?(current_user)%>
              <%= simple_form_for [mission, Booking.new] do |f| %>
                <%= f.button :submit, 'Apply Now', class: "btn btn-rounded-sm btn-info my-2" %>
              <% end %>
            <% elsif mission.users.include?(current_user) %>
              <%= link_to 'See Your Application', dashboard_path, class: "btn btn-rounded-sm btn-info my-2"%>
            <% end %>
          </div>
        </div>
      </div>
  </div>
<% end %>
