<div class="index-card-container">
    <%=link_to mission_path(mission) do %>
    <div class="index-card-image">
      <% if mission.photos.attached? %>
        <%= cl_image_tag mission.photos.first.key, class: "card-i" %>
      <% else %>
        <%= image_tag "carousel-1.jpg", class: "card-image" %>
      <% end %>
    </div>
    <% end %>

    <div class="list-group w-100">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="w-100">
                <div class="date"><%="Starting date: #{mission.start_date.strftime('%d/%m/%Y')}"%></div>
                <h5 class="mission-title mission-pending text-left">
                  <%= link_to "#{mission.title.capitalize}", mission_path(mission) %>
                </h5>
                <div class="icon">
                  <span>Looking for</span> <%= render "shared/icon_count", mission: mission %>
                </div>

                <div class="apply-button">
                  <% if current_user.charity.blank? && !mission.users.include?(current_user)%>
                    <%= simple_form_for [mission, Booking.new] do |f| %>
                      <%= f.button :submit, 'Apply Now', class: "btn btn-rounded-sm btn-warning index-card-button" %>
                    <% end %>
                  <% elsif mission.users.include?(current_user) %>
                    <%= link_to 'See Your Application', dashboard_path, class: "btn btn-rounded-sm btn-warning index-card-button"%>
                  <% end %>
                </div>
            </div>
          </div>
    </div>

    <!-- <div class="index-card-main-info">
      <div class="card-text-orange">
        <%=link_to mission_path(mission) do %>
        <h3><%="#{mission.title}"%></h3>
        <% end %>
      </div>
      <div class="card-text-orange">
        <p><%="with: #{mission.charity.name.capitalize}"%></p>
      </div>
      <div class="card-text-orange">
        <p><%="on: #{mission.start_date.strftime('%d/%m/%Y')}"%></p>
      </div>
      <div class="index-icon">
        <%= render "shared/icon_count", mission: mission %>
      </div>
      <div class="index-apply-button">
        <% if current_user.charity.blank? && !mission.users.include?(current_user)%>
          <%= simple_form_for [mission, Booking.new] do |f| %>
            <%= f.button :submit, 'Apply Now', class: "btn btn-rounded-sm btn-warning my-2 index-card-button" %>
          <% end %>
        <% elsif mission.users.include?(current_user) %>
          <%= link_to 'See Your Application', dashboard_path, class: "btn btn-rounded-sm btn-warning my-2 index-card-button"%>
        <% end %>
      </div>
    </div> -->

  <!-- end page container-->
</div>



