<%=link_to mission_path(mission) do %>
  <div class="index-card-container-urgent">
    <div class="index-card-image">
      <div class="index-card-extra-info-urgent">
          <div class="index-icon">
            <%= render "shared/icon_count", mission: mission %>
          </div>
      </div>
      <% if mission.photos.attached? %>
        <%= cl_image_tag mission.photos.first.key %>
      <% else %>
        <%= image_tag "carousel-1.jpg" %>
      <% end %>
    </div>
      <div class="index-card-text">
        <div class="index-card-main-info">
          <ul>
            <li><%=mission.title%></li>
            <li><%="Charity: #{mission.charity.name}"%></li>
            <li><%="Start date: #{mission.start_date.strftime('%d/%m/%Y')}"%></li>
            <li><%="Location: #{mission.address}"%></li>
            <li><%="Category: #{mission.category}"%></li>
          </ul>
          <div class="mx-2 index-urgent-button">
            <% if current_user.charity.blank? && !mission.users.include?(current_user)%>
              <%= simple_form_for [mission, Booking.new] do |f| %>
                <%= f.button :submit, 'URGENT: Apply Now', class: "btn btn-rounded-sm btn-success, warning" %>
              <% end %>
            <% elsif mission.users.include?(current_user) %>
              <%= link_to 'See Your Mission Application', dashboard_path, class: "btn btn-rounded-sm btn-success, index-card-button"%>
            <% end %>
          </div>
        </div>
      </div>
  </div>
<% end %>



