<div class="container">
    <div class="mx-auto">
      <h1><%= "Welcome back, #{current_user.first_name}!" %></h1>
      <h3><%= "#{current_user.email}" %></h3>
      
      <h2>Pick Your Avatar</h2>
      <div class= "conatiner-2">
        <%= link_to update_avatar_path(image:"AVALIA.jpg"), method: :post do %>
        <%= image_tag "AVALIA.jpg", class: "avatar", alt: "alttext"%>
        <% end %>
         <%= link_to update_avatar_path(image:"ACHIVEACON.jpg"), method: :post do %>
        <%= image_tag "ACHIVEACON.jpg", class: "avatar", alt: "alttext"%>
        <% end %>
        <%= link_to update_avatar_path(image:"LARSDONEIT.jpg"), method: :post do %>
        <%= image_tag "LARSDONEIT.jpg", class: "avatar", alt: "alttext"%>
        <% end %>
        <%= link_to update_avatar_path(image:"HELPERTRON.jpg"), method: :post do %>
        <%= image_tag "HELPERTRON.jpg", class: "avatar", alt: "alttext"%>
        <% end %>
        </div>
        <br>
        <br>
      <h2>Your Interests TBC!!!!</h2>


      <% if  @volunteer_completed_missions.count < 5 %>
        <%= image_tag "heart.png", alt: "alttext", height: "300"  %>
         <%= "You are a valued contributor"  %>
        <% elsif @volunteer_completed_missions.count < 10 %>
        <div class="big-badge"><%= image_tag "sheild-first-time-user.png", alt: "alttext"%></div>
        <% elsif @volunteer_completed_missions.count <  15 %>
         <div class="big-badge"><%= image_tag "shield-average.png", alt: "alttext" %></div>
        <% else @volunteer_completed_missions.count >=  15 %>
        <div class="big-badge"><%= image_tag "shield-super-user.png", alt: "alttext" %></div>
      <% end %>

      <div>
        <p>How much further to go till you level up...</p>
        <%= render "shared/progress_bar", volunteer_completed_missions: @volunteer_completed_missions %>
      </div>
   </div>
      <div class="mx-auto">
        <!-- summary box for:
          - x days left before next mission
          - mission completed
         -->
      </div>
      <!-- view pending missions -->
      <h3 class="mt-5 mb-3">My Pending Missions</h3>

      <div class="list-group">
        <% if @pending_volunteer_missions.any? %>
        <% @pending_volunteer_missions.each do |booking| %>
         <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <div class="warning"><%= (Date.today..booking.mission.start_date).count %> days left!</div>
                <h5 class="mt-2 mb-2 mission-title text-left">
                  <%= link_to "#{booking.mission.title}", mission_path(booking.mission) %>
                </h5>
                <small><%= booking.mission.charity.name %></small>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="text-left no-information">No information available</p>
          </div>
        <% end %>
      </div>

      <h3 class="mt-5 mb-3">My Upcoming missions</h3>

      <!-- Upcoming missions -->
      <div class="list-group">
        <% if @accepted_volunteer_missions.any? %>
        <% @accepted_volunteer_missions.each do |booking| %>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <div class="warning"><%= (Date.today..booking.mission.start_date).count %> days left!</div>
               <h5 class="mt-2 mb-2 mission-title"><%= link_to "#{booking.mission.title}", mission_path(booking.mission) %></h5>
               <small><%= booking.mission.charity.name %></small>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="text-left no-information">No information available</p>
          </div>
        <% end %>
      </div>

      <h3 class="mt-5 mb-3">My Completed missions</h3>

       <!-- completed missions -->
       <div class="list-group">
          <% if @volunteer_completed_missions.any? %>
          <% @volunteer_completed_missions.each do |booking|%>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mt-2 mb-2 mission-title"><%= booking.mission.title %></h5>
              <small><%= booking.mission.charity.name %></small>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="text-left no-information">No information available</p>
          </div>
        <% end %>
      </div>

<!-- page container closing div. Dont delete -->
</div>

