<div>
<% if  @volunteer_completed_missions.count <= 5 %>
<%= image_tag "heart.png", alt: "alttext", class: "sheild"  %>
<%= "You are a valued contributor"  %>
<% elsif @volunteer_completed_missions.count <= 10 %>
<%= image_tag "sheild-first-time-user.png", alt: "alttext"%>
<% elsif @volunteer_completed_missions.count <=  20 %>
 <%= image_tag "shield-average.png", alt: "alttext" %>
<% elsif @volunteer_completed_missions.count >  20 %>
<%= image_tag "shield-super-user.png", alt: "alttext" %>
<% else %>
<% end %>
</div>



<div class="container">
    <h1><%= "Welcome back, #{current_user.first_name}!" %></h1>
    <h3><%= "#{current_user.email}" %></h3>
    <div class="mx-auto">
        <!-- summary box for:
          - User welcome message
          - User email
          - User badge level
         -->
      </div>

      <div class="">
        <!-- summary box for:
          - x days left before next mission
          - mission completed
         -->
      </div>

      <!-- mission section starts here -->
      <h1>Missions</h1>


      <div class="mx-auto">
      <h2>My Pending Missions</h2>
      <% @pending_volunteer_missions.each do |booking| %>
          <ul>
            <li><%= link_to "#{booking.mission.title}", mission_path(booking.mission) %></li>
            <li><%= booking.mission.charity.name %></li>
            <li><%= (Date.today..booking.mission.start_date).count %> days left!</li>
          </ul>
      <% end %>
      </div>

      <div class="mx-auto">
        <h2>My Upcoming missions</h2>
        <% @accepted_volunteer_missions.each do |booking| %>
            <div>
              <ul>
                <li><%= link_to "#{booking.mission.title}", mission_path(booking.mission) %></li>
                <li><%= booking.mission.charity.name %></li>
                <li><%= (Date.today..booking.mission.start_date).count %> days left!</li>
              </ul>
            </div>
          <% end %>
      </div>
      <div class="mx-auto">
        <h2>My Completed missions</h2>
        <% @volunteer_completed_missions.each do |booking|%>
          <div>
            <ul>
              <li><%= booking.mission.title %></li>
              <li><%= booking.mission.charity.name %></li>
            </ul>
          </div>
        <% end %>
      </div>
  </div>

