<div class="container mt-5">

    <div class="user-info">
      <h1>Your account details</h1>
      <div class="text-center">
        <i class="far fa-envelope"></i> <%= "#{current_user.email}" %>
      </div>
    </div>


    <div class="user-level my-3 col-sm-12 col-md-12">

      <div class="user-level-count col-sm-4 col-md-12">
        <p>You have completed</p>
        <div class="user-level-count-total">
          <%= @volunteer_completed_missions.count %>
        </div>
        <span>missions</span>
      </div>
      <div class="user-level-badge col-sm-8 col-md-12">
        <p>Your superhero status</p>
        <% if  @volunteer_completed_missions.count < 5 %>
            <%= image_tag "shield-level-1.png", alt: "alttext"  %>
            <p><%= "Beginner"  %></p>
          <% elsif @volunteer_completed_missions.count < 10 %>
            <%= image_tag "shield-level-2.png", alt: "alttext"%>
            <p><%= "Intermediate"  %></p>
          <% elsif @volunteer_completed_missions.count <  15 %>
            <%= image_tag "shield-level-3.png", alt: "alttext" %>
            <p><%= "Advanced"  %></p>
          <% else @volunteer_completed_missions.count >=  15 %>
            <%= image_tag "shield-level-4.png", alt: "alttext" %>
            <p><%= "Superhero"  %></p>
        <% end %>
      </div>
    </div>

    <div class="user-level-bar mt-2">
        <h4 class="my-4">Increase your superhero level with more missions!</h4>
        <%= render "shared/progress_bar", volunteer_completed_missions: @volunteer_completed_missions %>
    </div>

    <div class= "user-avatar my-3">
       <h4>Pick Your Avatar</h4>
      <%= link_to update_avatar_path(image:"AVALIA.jpg"), method: :post do %>
      <%= image_tag "AVALIA.jpg", class: "avatar", alt: "alttext"%>
      <% end %>
       <%= link_to update_avatar_path(image:"ACHIVEACON.jpg"), method: :post do %>
      <%= image_tag "ACHIVEACON.jpg", class: "avatar", alt: "alttext"%>
      <% end %>
      <%= link_to update_avatar_path(image:"LARSDONEIT.jpg"), method: :post do %>
      <%= image_tag "LARSDONEIT.jpg", class: "avatar", alt: "alttext"%>
      <% end %>
      <%= link_to update_avatar_path(image:"HELPERTRON.jpg"), method: :post do %>
      <%= image_tag "HELPERTRON.jpg", class: "avatar", alt: "alttext"%>
      <% end %>
    </div>

      <!-- view pending missions -->
      <h3 class="mt-5 mb-3 section-heading">My Pending Missions</h3>

      <div class="list-group">
        <% if @pending_volunteer_missions.any? %>
        <% @pending_volunteer_missions.each do |booking| %>
         <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="w-100 dashboard ">
                <div class="warning"><i class="fas fa-running"></i> <%= (Date.today..booking.mission.start_date).count %> days left!</div>
                <h5 class="mt-2 mb-2 mission-title mission-pending text-left">
                  <%= link_to "#{booking.mission.title.capitalize}", mission_path(booking.mission) %>
                </h5>
                <small>Charity: <%= booking.mission.charity.name %></small>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="text-left no-information">No information available</p>
          </div>
        <% end %>
      </div>

      <h3 class="mt-5 mb-3 section-heading">My Accepted Missions</h3>


      <!-- Upcoming missions -->
      <div class="list-group">
        <% if @accepted_volunteer_missions.any? %>
        <% @accepted_volunteer_missions.each do |booking| %>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="w-100 dashboard ">
              <div class="warning-2"> <i class="fas fa-running"></i> <%= (Date.today..booking.mission.start_date).count %> days left!</div>
               <h5 class="mt-2 mb-2 mission-title mission-upcoming"><%= link_to "#{booking.mission.title.capitalize}", mission_path(booking.mission) %></h5>
               <small>Charity: <%= booking.mission.charity.name %></small>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="text-left no-information">No information available</p>
          </div>
        <% end %>
      </div>


      <h3 class="mt-5 mb-3 section-heading">My Completed Missions</h3>


       <!-- completed missions -->
       <div class="list-group">
          <% if @volunteer_completed_missions.any? %>
          <% @volunteer_completed_missions.each do |booking|%>
          <div class="list-group-item list-group-item-action flex-column align-items-start d-flex">
            <div class="w-100 dashboard">
              <h5 class="mt-2 mb-2 mission-title mission-completed"> <%= booking.mission.title.capitalize %></h5>
              <small>Charity: <%= booking.mission.charity.name %></small>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="text-left no-information">No information available</p>
          </div>
        <% end %>
      </div>

<!-- page container closing div. Dont delete -->
</div>

