<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 mx-auto">
      <h1 class="my-4">Add Your Charity</h1>
          <%= simple_form_for [ @charity ] do |f| %>
          <div class="form-inputs">
            <%= f.input :name, label: "Charity name", required: true %>
            <%= f.input :phone_number %>
            <%= f.input :website, input_html: { placeholder: "Your charity's website url..."}, required: true %>
            <%= f.input :description, label: "Description (250 words max)", input_html: { 'rows' => 5, 'cols' => 10, maxlength: 250, placeholder: 'Some more information about your charity here...'}, required: true %>
            <%= f.input :photos, input_html: {multiple: true}, as: :file, :label => "Upload charity logo", class: "btn btn-primary", required: true %>
          </div>
          <div class="form-actions">
          <%= f.submit "Submit", class: "btn btn-info btn-rounded" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
