<div class="container">

<h1 class="my-4">More info on Your Selected Charity </h1>

<% if @charity.photos.any? %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <%= cl_image_tag @charity.photos[0].key, class: "d-block w-100" %>
          </div>
        <% @charity.photos.each_with_index do |photo, index| %>
          <% if index != 0 %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, class: "d-block w-50" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% end %>


  <div class="d-flex flex-row bd-highlight mb-3">
     <div class="p-2 bd-highlight">
      <div class="card mb-3">
        <div class="card-body">
          <ul class="list-group">
          <table class="table table-borderless table-sm">
              <tr>
                <td>Name:</td>
                <td><span class="text-secondary"><%= @charity.name %></span></td>
              </tr>
              <tr>
                <td>Phone Number:</td>
                <td><span class="text-secondary"><%= @charity.phone_number%></span></td>
              </tr>
              <tr>
                <td>Description:</td>
                <td><span class="text-secondary"><%= @charity.description %></span></td>
              </tr>
              <tr>
                <td>Website:</td>
                <td><span class="text-secondary"><%= @charity.website %></span></td>
              </tr>
          </table>
        </ul>
       </div>
      </div>
     </div>
   </div>

<div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        More info. about <%= @charity.name%>
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <ul class="list-group">
          <table class="table table-borderless table-sm">
              <tr>
                <td>Description:</td>
                <td><span class="text-secondary"><%= @charity.description %></span></td>
              </tr>
              <tr>
                <td>Phone Number:</td>
                <td><span class="text-secondary"><%= @charity.phone_number%></span></td>
              </tr>
              <tr>
                <td>Website:</td>
                <td><span class="text-secondary"><%= @charity.website %></span></td>
              </tr>
          </table>
        </ul>
      </div>
    </div>
  </div>

</div>
