<div class="container">

<h1 class="my-4">More info on Your Selected Charity </h1>


  <div class="d-flex flex-row bd-highlight mb-3">
     <div class="p-2 bd-highlight">
      <div class="card mb-3">
        <div class="card-body">
          <ul class="list-group">
          <table class="table table-borderless table-sm">
              <tr>
                <td>Name:</td>
                <td><span class="text-secondary"><%= @charity.name %></span></td>
              </tr>
              <tr>
                <td>Phone Number:</td>
                <td><span class="text-secondary"><%= @charity.phone_number%></span></td>
              </tr>
              <tr>
                <td>Description:</td>
                <td><span class="text-secondary"><%= @charity.description %></span></td>
              </tr>
              <tr>
                <td>Website:</td>
                <td><span class="text-secondary"><%= @charity.website %></span></td>
              </tr>
          </table>
        </ul>
       </div>
      </div>
     </div>
   </div>

<div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        More info. about <%= @charity.name%>
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <ul class="list-group">
          <table class="table table-borderless table-sm">
              <tr>
                <td>Description:</td>
                <td><span class="text-secondary"><%= @charity.description %></span></td>
              </tr>
              <tr>
                <td>Phone Number:</td>
                <td><span class="text-secondary"><%= @charity.phone_number%></span></td>
              </tr>
              <tr>
                <td>Website:</td>
                <td><span class="text-secondary"><%= @charity.website %></span></td>
              </tr>
          </table>
        </ul>
      </div>
    </div>
  </div>

</div>
