<div class="container">

  <h1 class="my-4">Edit the Mission </h1>
    <%= simple_form_for [ @mission ] do |f| %>
     <div class="form-row">
    <div class="form-group col-md-6">
    <%= f.input :start_date %>
  </div>
  <div class="form-group col-md-6">
    <%= f.input :title %>
  </div>
   <div class="form-group col-md-3">
    <%= f.input :number_of_volunteers %>
  </div>
  <div class="form-group col-md-3">
    <%= f.input :address %>
</div>
    <div class="form-group col-md-12">
    <%= f.input :description, as: :text, :input_html => { cols: 5, rows: 6, maxlength: 600} %>
  </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

</div>
