
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="container">
  <% @missions.each do |mission| %>
    <div class="card mb-3 p-2">
      <div>
        <%=link_to "Mission: #{mission.title}", mission_path(mission) %>
      </div>
      <div>
        <%="Charity: #{mission.charity.name}"%>
      </div>
      <div>
        <%="Location: #{mission.address}"%>
      </div>
    </div>
  <% end %>
  <%= link_to 'Home', root_path, class: "btn btn-sm btn-primary"%>

  <%= link_to 'Post new mission', new_mission_path, class: "btn btn-sm btn-primary"%>
</div>
