<%# simple_form_for :missions, url: missions_path do |f| %>
<%# f.collection_check_boxes :category_ids, Mission::CATEGORIES, :id, :name %>
<%# end %>

<%= simple_form_for missions_path, method: :get do |f| %>
    <%= f.input :category, as: :check_boxes, collection: Mission::CATEGORIES, class: "check-list-box" %>
  <div class="form-actions">
      <%= f.submit "Submit", class: "btn btn-rounded-sm btn-success" %>
  </div>
<% end %>

<!-- <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> -->

<div class="container">
  <h1 class="my-4">Help needed! See all Missions </h1>
  <% @missions.order(start_date: :asc).each do |mission| %>
    <% if mission.start_date > Date.today && (mission.number_of_volunteers - mission.bookings.where(status: "accepted").count) > 0 %>
        <div class="card mb-3 p-2, index-card-container">
          <% if mission.photos.attached? %>
            <div>
              <%= cl_image_tag mission.photos.first.key, class: "card-img-left" %>
            </div>
          <% else %>
            <div class="index-image">
              <%= image_tag "carousel-1.jpg", class: "card-img-left", height: "200" %>
            </div>
          <% end %>
          <div>
            <div>
              <%=link_to "#{mission.title}", mission_path(mission) %>
            </div>
             <div>
              <%="Charity: #{mission.charity.name}"%>
            </div>
            <div>
              <%="Location: #{mission.address}"%>
            </div>
            <div>
              <%="Category: #{mission.category}"%>
            </div>
          </div>
          <div>
            <% if mission.start_date < (Date.today + 7) %>
              <div class="urgent-style">
                <h3>Urgent: Apply Now</h3>
              </div>
            <% end %>
              <%="Start date: #{mission.start_date.strftime('%d/%m/%Y')}"%>
          </div>
          <div>
            <%= render "shared/icon_count", mission: mission %>
          </div>
        </div>
      <% end %>
  <% end %>
</div>

