<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 mx-auto">
      <h1 class="my-4">please enter your mission information below</h1>
      <%= simple_form_for([ @charity, @mission ]) do |f| %>
        <div class="form-inputs">
          <%= f.input :start_date%>
          <%= f.input :title %>
          <%= f.input :description, input_html: { 'rows' => 20, 'cols' => 10, placeholder: 'Write the details of your mission...'} %>
          <%= f.input :address %>
          <%= f.input :category, :collection => ['Children', 'Environment', 'Food', 'Animals', 'Women', 'Admin', 'Retail'] %>
          <%= f.input :number_of_volunteers %>
          <%= f.input :photos, input_html: {multiple: true}, as: :file, :label => "Upload boat photos",class: "btn btn-primary" %>
        </div>
        <div class="form-actions">
          <%= f.submit "Submit", class: "btn btn-info btn-rounded" %>
        </div>
      <% end %>

      <%= link_to 'home', root_path, class: "btn btn-rounded-sm btn-success"%>
    </div>
  </div>
</div>
